<a href="https://colab.research.google.com/github/jiayi-jenny-zhou/Quarto-and-AI/blob/main/workshop_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### RUN THIS FIRST ###

! git clone https://github.com/blake-hu/raiso-projects.git
! cd raiso-projects/fall22/ml-intro
working_directory = "raiso-projects/fall22/ml-intro"

TODO: Import Pandas module and bind it to the name "pd"

In [ ]:
# Your code

Read CSV dataset into a Pandas DataFrame

In [ ]:
dataset = pd.read_csv(f"{working_directory}/unbalanced_data.csv")
dataset

    Gender  Internships  Hire
0        0            2     0
1        0            5     0
2        1            1     1
3        1            4     1
4        1            5     1
5        1            2     1
6        1            0     0
7        1            1     1
8        0            6     0
9        0            4     0
10       0            2     0
11       1            7     1
12       1            4     1
13       1            5     1
14       1            2     1
15       1            0     0
16       1            7     1
17       0            2     0
18       0            4     0
19       0            7     0
20       0            3     0
21       1            0     1
22       1            4     0
23       1            5     1
24       1            2     1
25       1            0     0
26       1            1     1
27       0            3     0
28       0            3     0
29       0            2     0
30       0            4     0
31       0            7     0
32       0            2     0
33       1            0     1
34       1            4     0
35       1            6     1
36       1            2     1
37       1            0     0
38       1            1     1
39       0            1     0
40       0            0     0

Split dataset into attributes (X) and labels (y)

In [ ]:
X = dataset.drop('Hire', axis=1)
y = dataset['Hire']

TODO: Randomly split dataset into training set and test set. Test set is 20% of total dataset.

Hint: Look up the documentation of train_test_split()

In [ ]:
from sklearn.model_selection import train_test_split
# <Your code>

Instantiate a classifier object from the DecisionTreeClassifier class

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

TODO: Fit classifier to X and y of training set using the fit() method of the classifier object

Hint: Look up the documentation of DecisionTreeClassifier

In [ ]:
# Your code

Use fitted classifier to predict y-values (labels) from test set X-values (attributes)

In [ ]:
y_pred = classifier.predict(X_test)
X_test = X_test.set_index(pd.Index(range(X_test.size//2)))
y_pred = pd.DataFrame(y_pred, columns=['Hire'])
X_y_test = X_test.join(y_pred)
print('X_y_test:\n', X_y_test)

Print raw data for test dataset predictions, separated by Gender and Hire status

In [ ]:
hired_m = X_y_test[(X_y_test.Hire==1) & (X_y_test.Gender==1)]
hired_w = X_y_test[(X_y_test.Hire==1) & (X_y_test.Gender==0)]
print('Hired men:\n', hired_m)
print('\nHired women:\n', hired_w)

TODO: Extract DataFrames for men and women who were not hired

In [ ]:
# Your code

TODO: Print DataFrames for men and women who were not hired, adding a short description before

In [ ]:
# Your code

Print metrics on accuracy of classifier by comparing predicted and actual y-values of test set

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print('Confusion matrix:\n', confusion_matrix(y_test, y_pred))

TODO 1: Import the function classification_report() from the metrics interface of the sklearn module, like above.

TODO 2: Call classification_report() on actual and predicted y-values, and print the result with a description.

Hint: Look up the documentation for classification_report()

In [ ]:
# Your code